In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [5]:
user_fields = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
user = pd.read_csv('ml-100k/u.user', sep='|', names=user_fields,encoding='latin-1')

In [6]:
rating_fields = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
rating = pd.read_csv('ml-100k/u.data', sep='\t', names=rating_fields,encoding='latin-1')

In [7]:
item_fields = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

item = pd.read_csv('ml-100k/u.item', sep='|', names=item_fields,encoding='latin-1')

In [8]:
user.head(2)

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043

In [9]:
rating.head(2)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742

In [10]:
item.head(2)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [14]:
print("shape of users df is:",user.shape)
print("shape of rating df is:",rating.shape)
print("shape of item df is:",item.shape)

shape of users df is: (943, 5)
shape of rating df is: (100000, 4)
shape of item df is: (1682, 24)

In [15]:
rating_fields = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_train = pd.read_csv('ml-100k/ua.base', sep='\t', names=rating_fields, encoding='latin-1')
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=rating_fields, encoding='latin-1')

In [16]:
ratings_train.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [17]:
num_users = rating.user_id.unique().shape[0]
num_items = rating.movie_id.unique().shape[0]

In [18]:
matrix = np.zeros((num_users, num_items))