# Pandas

### import library

In [1]:
import pandas as pd # pd is a shortcut for pandas library

In [2]:
from pandas import Series, DataFrame # for importing Series and data frame data structures

In [3]:
A = pd.Series([2,3, -9, 5,3,7,8])

In [4]:
A

0    2
1    3
2   -9
3    5
4    3
5    7
6    8
dtype: int64

In [6]:
A.values

array([ 2,  3, -9,  5,  3,  7,  8], dtype=int64)

In [7]:
A.index

RangeIndex(start=0, stop=7, step=1)

In [9]:
B = pd.Series([3, 2, 9, 21,6,87,98], index=['e', 'f', 'z', 'a','s','h','l'])

In [10]:
B

e     3
f     2
z     9
a    21
s     6
h    87
l    98
dtype: int64

In [11]:
B['s']

6

In [12]:
B[['a', 'f', 'h']]

a    21
f     2
h    87
dtype: int64

In [13]:
B[B > 10]

a    21
h    87
l    98
dtype: int64

In [14]:
B * 2

e      6
f      4
z     18
a     42
s     12
h    174
l    196
dtype: int64

In [16]:
'g' in B

False

In [17]:
'a' in B

True

In [18]:
dict_data = {'delhi': 53000, 'mumbai': 36100, 'jaipur': 63000, 'faridad': 87000}

In [19]:
C = pd.Series(dict_data)

In [20]:
C

delhi      53000
mumbai     36100
jaipur     63000
faridad    87000
dtype: int64

In [21]:
C.isnull()

delhi      False
mumbai     False
jaipur     False
faridad    False
dtype: bool

In [22]:
data = {'state': ['delhi', 'delhi', 'delhi', 'mumbai', 'mumbai', 'mumbai'],
 'year': [2002, 2003, 2004, 2005, 2003, 2002],
 'pop': [2.5, 3.7, 1.6, 3.4, 4.9, 6.2]}

In [23]:
df = pd.DataFrame(data)

In [24]:
df

    state  year  pop
0   delhi  2002  2.5
1   delhi  2003  3.7
2   delhi  2004  1.6
3  mumbai  2005  3.4
4  mumbai  2003  4.9
5  mumbai  2002  6.2